body {
	background-color: #121212;
	transition: 500ms;
	margin: 0;
	color: white;
	box-shadow: inset rgba(255, 0, 0, 0) 0 0 20rem;
}

body.correct {
	box-shadow: inset rgba(0, 128, 0, 0.445) 0 0 10rem;
}
body.wrong {
	box-shadow: inset rgba(255, 0, 0, 0.377) 0 0 20rem;
}

input {
	background-color: rgba(255, 255, 255, 0.062);
	border: none;
	outline: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: 400ms;
	color: white;
	font-size: large;
	text-align: center;
	box-sizing: border-box;
	border: #12121200 solid 2px;
}

input:focus {
	background-color: rgba(255, 255, 255, 0);
}

body.correct input {
	border-color: rgba(0, 128, 0, 0.3);
}

body.wrong input {
	border-color: rgba(255, 0, 0, 0.3);
}

.guess-main {
	display: flex;
	flex-direction: column;
	font-size: xx-large;
	opacity: 0;
	position: relative;
	background-color: #171717;
	padding: 1rem;
	border-radius: 0.5rem;
	animation: show 800ms 0.5s forwards;
	transition: 400ms;
	aspect-ratio: 5/6;
	background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

body.correct .guess-main {
	filter: drop-shadow(green 0 0 0.2rem);
}

body.wrong .guess-main {
	filter: drop-shadow(red 0 0 0.2rem);
}

.guess-main h1 {
	flex-grow: 1;

	margin: 0;
	margin-top: 3.5rem;
	text-align: center;
	font-family: sans-serif;
}

@keyframes show {
	0% {
		transform: translateX(30%) scale(0.8);
		opacity: 0;
	}
	60% {
		transform: translateX(0%) scale(0.8);
		opacity: 1;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.guess-main.new {
	opacity: 1;
	animation: hide 800ms 0s forwards;
}

@keyframes hide {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	40% {
		transform: translateX(0%) scale(0.8);
		opacity: 1;
	}
	100% {
		transform: translateX(-30%) scale(0.8);
		opacity: 0;
	}
}

.popup {
	position: fixed;
	background-color: #171717;
	padding: 1rem;
	border-radius: 0.5rem;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 0;
	padding-inline: 1rem;
	opacity: 0;
	overflow: hidden;
	font-family: sans-serif;
	transition:
		background-color 500ms 0ms,
		max-width 500ms 0ms,
		opacity 200ms 300ms;
}

.popup.show {
	max-width: 50%;
	opacity: 1;
	padding-inline: 1rem;
	transition:
		background-color 1000ms 00ms,
		max-width 500ms 0ms,
		opacity 200ms 0ms;
}

body.wrong .popup {
	background-color: rgb(168, 0, 0);
}
.popup .main {
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
.popup .info {
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.done {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #171717;
	padding: 2rem;
	border-radius: 0.5rem;
	text-align: center;
	font-family: sans-serif;
	transform: translate(-50%, -50%);
	opacity: 0;
	pointer-events: none;
	transition: 1000ms;
}
.done.show {
	pointer-events: all;
	opacity: 1;
}
